/* GLOBAL */
html, body{
    margin:0;
    padding:0;
    background-color: rosybrown;
}

*{
    font-family: 'Love Ya Like A Sister', cursive;
}
/* GLOBAL */
/* NAV */
header {
    background-color: whitesmoke;
    line-height: 50px;
    margin-top: -16px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul div {
    flex: 1;
    text-align: center;
}
nav ul a {
    color: black;
}
/* NAV */
h1{
    margin: 0;
    text-align: center;
}

footer {
    background-color: whitesmoke;
    height: 50px;
    border-top: 0.2em solid black ;
    margin-bottom: -12px;
    text-align: center;
}


.conteneur-principal{
    
    display:flex;
    flex-direction: row;
   
    
}

.conteneur-secondaire{
    display:flex;
    flex-direction: row;
}

.title{
    position: absolute;
    top:-20px;
    width: 100%;
}
.les-indi{
    background-color: rosybrown;
}
.les-indispensables{
    border-bottom: solid ;
    position: relative;
    margin: 20px 50px;
}

.first-runs{
    background-color:#2c3e50;
    margin: 30px;
    border: 0.2em solid black;
    border-radius: 10%;
   
}

.awakening{
    background-color:#2c3e50 ;
    
}

.meal{

    background-color:#2c3e50;

}

.block{
    width: 33.3333333%;
}

.picture-first-run{
    border-bottom: 0.1em solid black;
    border-top: 0.17em solid black;
    padding: 10px;
    background-color: white;
    
}

nav ul{
    list-style-type: none;
   

}

.fa-list{
    
    font-size: 20px;
    
    
}


a:hover{
    color: blanchedalmond;
}

a{
    text-decoration: none;
    color: rosybrown;
}

.picture-center{
    text-align: center;
}

h2{
    padding-left: 10px;
}

.categorie {
    margin-left: 5px;
    color: #5c748b;
    text-align: center;
    
}

.porte-baby a span{
    display:none;
}
.porte-baby a:hover span {
        display:block;
        margin:0 0 0 0;
        }
.fa-check{
    color: darkgreen;
}
.acheter p {
    border: 0.02em dashed darkgreen;
    margin-right: 60%;
}

.acheter a span{
    display:none;
}
.acheter a:hover span {
        display:block;
        margin:0 0 0 0;
        }
.fa-exclamation-triangle{
    color:darkred;
    margin-left:5px;
}
.fa-hands-helping{
    color:darkblue;
    margin-left: 5px;
}
.amis a span{
    display:none;
}
.amis a:hover span {
        display:block;
        margin:0 0 0 0;
}
.formulaire-bouton-liste{
    
    border: 0.2em solid black;
    border-radius: 20%;
    background-color: blue;
}

#boutton-formulaire{
    margin-left: 60px;
    
}
.bord-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:0.2em solid black;
    border-radius: 20%;
    margin-bottom: 10px;
    
    
    
}
.form{
    
    margin-top: 5px;
}
.e-mail{
    margin-top: 5px;
}
.radio{
    display: flex;
    justify-content: center;
}

#validat{
    
    margin-bottom: 20px;
    
}